.cards {
  display: flex;
  justify-content: center;
  margin-top: 71px;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  width: 956px;
  justify-content: center;
}

.cards__title {
  font-family: var(--main-font);
  font-size: 22px;
  line-height: 34px;
  color: var(--font-color);
  align-self: flex-start;
  margin: 56px 0 16px;
}

.cards-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 126px;
  justify-content: space-between;
}
