.personal-cabinet__button {
  width: 80px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
}

.button--black {
  background-color: var(--btn-color);
  color: var(--white);
  margin-left: 16px;
  border: 2px solid var(--btn-color);
}

.personal-cabinet {
  display: flex;
}

.personal-cabinet__basket {
  width: 19px;
  height: 22px;
  margin: 9px 9px 9px 27px;
}
