.restaurantPresentation-card__wrapper {
  width: 956px;
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
  padding: 0;
  position: relative;
}

.restaurantPresentation__background {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  background-position: center center;
  z-index: -1;
}

.restaurantPresentation-card {
  background-color: var(--white);
  box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  width: 389px;
  height: 204px;
  display: flex;
  flex-direction: column;
  margin: 80px auto 80px 0;
  align-items: center;
  padding: 38px;
  box-sizing: border-box;
  justify-content: space-between;
}

.restaurantPresentation-card__title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 42px;
  color: var(--font-color);
}

.restaurantPresentation-card__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.restaurantPresentation-card__price {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
}

.restaurantPresentation-card__time {
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 15px;
  color: var(--white);
  background: var(--btn-color);
  border-radius: 16px;
  width: 97px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
